* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 600px;
  overflow: hidden;
}

/* -- Blue Button ----------------------------------------------------------- */

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 48px;
  color: white;
  background: linear-gradient(#0064ff, #1400fd);
  user-select: none;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
}

.button.activatable:active {
  background: linear-gradient(#222fba, #100d64);
}

/* Button Safe Area */
.button::before {
  content: '';
  display: block;
  width: 160px;
  height: 60px;
  position: absolute;
  border-radius: 50px;
  /* background: rgba(255, 99, 71, 0.17); */ /* uncomment prop to see safe area */
}

/* -- Gray Block ------------------------------------------------------------ */

.gray-block {
  width: 600px;
  height: 100px;
  background: linear-gradient(#ced1ce, #bbbbbb);
  font-size: 24px;
  color: black;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  box-shadow: 0 12px 12px -6px rgba(0, 0, 0, 0.33);
}

.gray-block:hover {
  background: linear-gradient(#c4c6c3, #b3b3b3);
}

/* Safe Area */
.gray-block::after {
  content: '';
  display: block;
  position: absolute;
  width: 120%;
  height: 140%;
  left: -10%;
  top: -20%;
  /* background: rgba(255, 99, 71, 0.17); */ /* uncomment prop to see safe area */
}
